
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(to bottom, #30e8bf, #ff8235); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:black;
}

header{
  position:absolute;
  top: 0;
  left: 0;
  width: 100vw;
  color: black;
  padding: 10px;
  background: #ff823580;
  display: flex;
  align-items: center;
  height: 48px;
}

.edit-username{
  position: absolute;
  right: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.name-button{
  height:29px;
  margin:0 6px;
  background:transparent;
  color:white;
  font-size:18px;
  padding:4px;
  cursor: pointer;
  border:none;
  outline:none;
  border-radius: 4px;
}
.name-button:hover{
  background:rgba(255,255,255,0.1)
}
.name-input{
  color:white;
  height:31px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:#1f1e2e;
  padding-bottom:2px;
  font-size:12px;
  outline:none;
}
.username{
  display: flex;
  align-items: center;
  margin-right:12px;
  font-size:1.1rem;
}

.logo{
  height: 24px;
  margin-right: 10px;
}

.send-logo, .name-button{
  padding: 4px;
}

.send-logo {
  height:80%;
  font-size: 20px;
  width: 10%;
}

.text-input{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 48px;
  background: #ffffff80;
  display: flex;
}

.text-input input{
  width: 85%;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid turquoise;
}

.text-input button{
  background: turquoise;
  border-radius: 20px;
  border: none;
}

.text-input input, button{
  height: 80%;
  margin: auto;
}

.text-input input:focus{
  border: 1px solid blue
}

.messages{
  height: calc(100vh - 96px);
  width: 100vw;
  position: absolute;
  top: 48px;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  text-align: right;
}

.message-wrap{
  width: 100%;
}

.message{
  color:white;
  background:black;
  margin: 5px;
  border-radius: 5px;
  padding: 3px 6px;
  display: inline-block;
  right: 0;
}

.text-input button:disabled{
  background:grey;
  color: black;
  border: none;
}

